<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get all repo</title>
 
</head>
<body style="background-color:powderblue;">
  <img alt="Liquiloans"  src="https://miro.medium.com/v2/resize:fit:708/1*LSNWlfKqhzt06C8YI3QhXA.png" width="354" height="60" loading="lazy">
    <h1>Git Analysis</h1>
    <form  action="/all_commits" method="post">
      <label for = "repo">Github Repos: </label>
      
      <select name="repo_name">
        {% for repo in final_list %}
          <option value="{{ repo }}" SELECTED>{{ repo }}</option>
        {% endfor %}     
      </select>

      <label for="startDate">From:</label>
      <input type="date" id="startDate" name="startDate">
      <label for="endDate">To:</label>
      <input type="date" id="endDate" name="endDate">
  
      <button type="submit"><i class="fa fa-search">Get All Commits</i></button>
      <button onclick="setDates()">Last 3 Months</button>

    </form>

    <script>
      
        function setDates() {
          const today = new Date();
          const threeMonthsAgo = new Date();
          threeMonthsAgo.setMonth(today.getMonth() - 3);

          const formattedToday = today.toISOString().slice(0, 10);
          const formattedThreeMonthsAgo = threeMonthsAgo.toISOString().slice(0, 10);

          document.getElementById("startDate").value = formattedThreeMonthsAgo;
          document.getElementById("endDate").value = formattedToday;
        }
    </script>

      
</body>
</html